<!doctype html>
<html ng-app>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tasks</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="tasks.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="">Tasks</a>
            </div>
            <div class="nav navbar-nav navbar-right">
                <li><a href="">Home</a></li>
                <li><a href="">Tasks</a></li>
            </div>
        </div>
    </nav>

    <main>
        <div class="container">
            <div ng-app="myApp" ng-controller="HttpPutController">
                <h2>AngularJS Put request </h2>
                <form ng-submit="UpdateData()">
                    <p>title: <input type="text" name="title" ng-model="title" required /></p>
                    <p>description: <input type="text" name="description" ng-model="description" required /></p>
                    <input type="submit" value="Submit" />
                    <hr />
                    {{ ServerResponse }}
                </form>
            </div>
            <div ng-controller="Tasks">     
                
                <h1>Add a New Task</h1>
                <p class="lead">Add to your task list below.</p>
                <hr>

                {!! Form::open([
                'route' => 'tasks.store'
                ]) !!}

                <div class="form-group @if ($errors->get('title')): has-error @endif">
                    {!! Form::label('title', 'Title:', ['class' => 'control-label']) !!}
                    {!! Form::text('title', null, ['class' => 'form-control']) !!}
                    @if ($errors->has('title'))
                    <p class="help-block">{{ $errors->first('title') }}</p>
                    @endif
                </div>

                <div class="form-group @if ($errors->get('description')): has-error @endif">
                    {!! Form::label('description', 'Description:', ['class' => 'control-label']) !!}
                    {!! Form::textarea('description', null, ['class' => 'form-control']) !!}
                    @if ($errors->has('description'))
                    <p class="help-block">{{ $errors->first('description') }}</p>
                    @endif
                </div>

            </div>
           

        </div>
    </main>

</body>
</html>